.home-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.home-elements {
    background: repeating-linear-gradient(
            -45deg,
            #1c1c1c,
            #1c1c1c 10px,
            #2a2a2a 10px,
            #2a2a2a 20px
    );
    letter-spacing: 2px;
    font-size: 1.6rem;
    color: white;
    display: grid;
    border: black solid 5px;
    border-radius: 30px;
    text-align: center;
    padding: 1rem;
    margin: 2rem 15rem 0 15rem;
}

.home-elements > div {
    margin: 1rem;
}

.home-error {
    color: black;
    font-size: 5rem;
    text-shadow:
            -2px -2px 0 #f40006,
            2px -2px 0 #f40006,
            -2px 2px 0 #f40006,
            2px 2px 0 #f40006,
            -3px 0 0 #f40006,
            3px 0 0 #f40006,
            0 -3px 0 #f40006,
            0 3px 0 #f40006;
}

.home-content-title-container {
    background-color: rgba(0, 0, 0, 0.6);
    border: rgba(0, 0, 0, 0.80) solid 5px;
    border-radius: 30px;
    padding: 1rem;
    box-shadow: 0 0 1rem red;
}

.home-title {
    color: red;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 1rem;
}

.home-content {
    color: white;
    font-size: 1.3rem;
}

@media (max-width: 500px) {
    .home-elements{
        margin: 1rem;
    }
}